* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.head-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.task-container {
  padding: 10px;
  background-color: rgb(41, 41, 41);
  width: 30%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}
.heading {
  color: #f3aa4e;
  font-size: 25px;
  font-family: roboto;
  font-weight: 400;
}
.label {
  color: aliceblue;
  font-size: 15px;
  font-weight: 500;
  font-family: roboto;
  margin-bottom: 10px;
}
.input {
  width: auto;
  height: 30px;
  padding-left: 10px;
  color: rgb(83, 83, 83);
  font-size: 15px;
}
.button {
  background-color: #f3aa4e;
  color: aliceblue;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  align-self: center;
  margin-top: 20px;
  cursor: pointer;
}
.tags-container {
  background-color: black;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
}
.tags-heading {
  color: #ffffff;
  font-size: 25px;
  font-family: roboto;
  font-weight: 400;
}
.ul-container {
  display: flex;
  align-items: center;
  padding: 15px;
  list-style: none;
}
.list-item-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
